# Node modules
node_modules/

# Environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
report/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Coverage output
coverage/
coverage-final.json
lcov.info

# IDE folders
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache
.tap/

/src/generated/prisma

/generated/prisma

/generated/prisma
